name: Continous Integration
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - master
  pull_request:
    branches:
      - master
jobs:

  shellcheck_init:
    uses: xavierforestier/HomeAssistantRepository/.github/workflows/update-readme.yml@master
    with:
      pkg-name: shellcheck
      pkg-version: 'shellcheck%20(running...)'
      pkg-status: ''
      autoretry: true
    secrets: inherit
    
  shellcheck:
    name: shellcheck
    needs: shellcheck_init
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Run shellcheck
      uses: ludeeus/action-shellcheck@master
      env:
        SHELLCHECK_OPTS: -s bash -e SC2034 -e SC2016
      with:
        additional_files: '*.ebuild'
        
  shellcheck_complete:
    if: success() || failure()
    name: shellcheck_complete
    needs: shellcheck
    uses: xavierforestier/HomeAssistantRepository/.github/workflows/update-readme.yml@master
    with:
      pkg-name: shellcheck
      pkg-version: shellcheck
      pkg-status: ${{ needs.shellcheck.result }}
      autoretry: true
    secrets: inherit
    
  pkgcheck_init:
    uses: xavierforestier/HomeAssistantRepository/.github/workflows/update-readme.yml@master
    with:
      pkg-name: pkgcheck
      pkg-version: 'pkgcheck%20(running...)'
      pkg-status: ''
      autoretry: true
    secrets: inherit
  
  pkgcheck:
    runs-on: ubuntu-latest
    needs: pkgcheck_init
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Run pkgcheck
      uses: pkgcore/pkgcheck-action@v1
      
  pkgcheck_complete:
    if: success() || failure()
    needs: pkgcheck
    uses: xavierforestier/HomeAssistantRepository/.github/workflows/update-readme.yml@master
    with:
      pkg-name: pkgcheck
      pkg-version: pkgcheck
      pkg-status: ${{ needs.pkgcheck.result }}
      autoretry: true
    secrets: inherit
    
  check_zigbee2mqtt:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/xavierforestier/gentoo-ci:main
      options: --privileged
    steps:
    # synchronys my own git
    - name: Checkout code
      uses: actions/checkout@v6
    # 
    - name: Setup HomeAssistant repository     
      run: |
        rsync -aHDPSv etc/portage/ /etc/portage/
        echo -n "location = " >> /etc/portage/repos.conf/homeassistant.conf
        pwd -P >> /etc/portage/repos.conf/homeassistant.conf
        git config --global --add safe.directory . 
    - name: Check deps... app-misc/zigbee2mqtt
      run: |
        echo -n "" > /etc/portage/package.use/zzz.use
        emerge -pv --autounmask=y --autounmask-continue=y --autounmask-write=y --autounmask-license=y --autounmask-backtrack=y --autounmask-use=y --verbose-conflicts --deep --with-bdeps=y --newuse --autounmask-keep-masks=n --autounmask-keep-keywords=n --backtrack=300 app-misc/zigbee2mqtt >/tmp/out 2>/tmp/err || true
        echo "::group::emerge stdout" 
        cat /tmp/out
        echo "::endgroup::"
        echo "::group::emerge stderr" 
        cat /tmp/err
        echo "::endgroup::"
        if ! grep -q "\[ebuild  N     \] app-misc/zigbee2mqtt-" /tmp/out; then
          echo "::error::emerge dev-embedded/esphome failed"
          exit 1
        elif [ -s /tmp/err ]; then
          echo "::warning::emerge dev-embedded/esphome raised warning" 
        fi
  check_esphome:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/xavierforestier/gentoo-ci:main
      options: --privileged
    steps:
    # synchronys my own git
    - name: Checkout code
      uses: actions/checkout@v6
    # 
    - name: Setup HomeAssistant repository     
      run: |
        rsync -aHDPSv etc/portage/ /etc/portage/
        echo -n "location = " >> /etc/portage/repos.conf/homeassistant.conf
        pwd -P >> /etc/portage/repos.conf/homeassistant.conf
        git config --global --add safe.directory .   
    - name: Check deps... dev-embedded/esphome...
      run: |
        echo -n "" > /etc/portage/package.use/zzz.use
        emerge -pv --autounmask=y --autounmask-continue=y --autounmask-write=y --autounmask-license=y --autounmask-backtrack=y --autounmask-use=y --verbose-conflicts --deep --with-bdeps=y --newuse --autounmask-keep-masks=n --autounmask-keep-keywords=n --backtrack=300 dev-embedded/esphome >/tmp/out 2>/tmp/err || true
        echo "::group::emerge stdout" 
        cat /tmp/out
        echo "::endgroup::"
        echo "::group::emerge stderr" 
        cat /tmp/err
        echo "::endgroup::"
        if ! grep -q "\[ebuild  N     \] dev-embedded/esphome-" /tmp/out; then
          echo "::error::emerge dev-embedded/esphome failed"
          exit 1
        elif [ -s /tmp/err ]; then
          echo "::warning::emerge dev-embedded/esphome raised warning" 
        fi
  check_homeassistant :
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/xavierforestier/gentoo-ci:main
      options: --privileged
    steps:
    # synchronys my own git
    - name: Checkout code
      uses: actions/checkout@v6
    # 
    - name: Setup HomeAssistant repository     
      run: |
        rsync -aHDPSv etc/portage/ /etc/portage/
        echo -n "location = " >> /etc/portage/repos.conf/homeassistant.conf
        pwd -P >> /etc/portage/repos.conf/homeassistant.conf
        git config --global --add safe.directory .   
    - name: Check deps...homeassistant[minimal]
      run: |
        rm /etc/portage/package.use/._cfg0000_zzz.use || true
        touch /etc/portage/package.use/zzz.use
        echo "virtual/homeassistant minimal -normal -full" > /etc/portage/package.use/virtual-homeassistant.use
        emerge -pv --autounmask=y --autounmask-continue=y --autounmask-write=y --autounmask-license=y --autounmask-backtrack=y --autounmask-use=y --verbose-conflicts --deep --with-bdeps=y --newuse --autounmask-keep-masks=n --autounmask-keep-keywords=n --backtrack=300 virtual/homeassistant >/tmp/out 2>/tmp/err || true
        echo "::group::emerge stdout" 
        cat /tmp/out
        echo "::endgroup::"
        echo "::group::emerge stderr" 
        cat /tmp/err
        echo "::endgroup::"
        if ! grep -q "\[ebuild  N     \] virtual/homeassistant-0::HomeAssistantRepository  USE=\"minimal -full -normal\"" /tmp/out; then
          echo "::error::emerge virtual/homeassistant[minimal] failed"
          exit 1
        elif [ -s /tmp/err ]; then
          echo "::warning::emerge virtual/homeassistant[minimal] raised warning" 
        fi
    - name: Check deps...homeassistant[normal]
      run: |
        rm /etc/portage/package.use/._cfg0000_zzz.use || true
        touch /etc/portage/package.use/zzz.use
        echo "virtual/homeassistant -minimal normal -full" > /etc/portage/package.use/virtual-homeassistant.use        
        emerge -pv --autounmask=y --autounmask-continue=y --autounmask-write=y --autounmask-license=y --autounmask-backtrack=y --autounmask-use=y --verbose-conflicts --deep --with-bdeps=y --newuse --autounmask-keep-masks=n --autounmask-keep-keywords=n --backtrack=300 virtual/homeassistant >/tmp/out 2>/tmp/err || true
        echo "::group::emerge stdout" 
        cat /tmp/out
        echo "::endgroup::"
        echo "::group::emerge stderr" 
        cat /tmp/err
        echo "::endgroup::"
        if ! grep -q "\[ebuild  N     \] virtual/homeassistant-0::HomeAssistantRepository  USE=\"normal -full -minimal\"" /tmp/out; then
          echo "::error::emerge virtual/homeassistant[normal] failed"
          exit 1
        elif [ -s /tmp/err ]; then
          echo "::warning::emerge virtual/homeassistant[normal] raised warning" 
        fi
    - name: Check deps...homeassistant[full]
      run: |
        rm /etc/portage/package.use/._cfg0000_zzz.use || true
        touch /etc/portage/package.use/zzz.use
        echo "virtual/homeassistant -minimal -normal full" > /etc/portage/package.use/virtual-homeassistant.use
        emerge -pv --autounmask=y --autounmask-continue=y --autounmask-write=y --autounmask-license=y --autounmask-backtrack=y --autounmask-use=y --verbose-conflicts --deep --with-bdeps=y --newuse --autounmask-keep-masks=n --autounmask-keep-keywords=n --backtrack=300 virtual/homeassistant >/tmp/out 2>/tmp/err || true
        echo "::group::emerge stdout" 
        cat /tmp/out
        echo "::endgroup::"
        echo "::group::emerge stderr" 
        cat /tmp/err
        echo "::endgroup::"
        if ! grep -q "\[ebuild  N     \] virtual/homeassistant-0::HomeAssistantRepository  USE=\"full -minimal -normal\"" /tmp/out; then
          echo "::error::emerge virtual/homeassistant[full] failed"
          exit 1
        elif [ -s /tmp/err ]; then
          echo "::warning::emerge virtual/homeassistant[full] raised warning" 
        fi
  esphome_init:  
    if: github.event_name == 'pull_request' || github.ref == 'refs/heads/master'
    needs: [ check_zigbee2mqtt, check_esphome, check_homeassistant, pkgcheck_complete, shellcheck_complete ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: |
        git config --local user.name "xavier.forestier"
        git config --local user.email "{ID}+{username}@users.noreply.github.com"
        git fetch
        version=$( echo $( find ./dev-embedded/esphome -type f -name "*.ebuild" | sort -r | head -n1 ) | rev | cut -d/ -f1 | cut -d. -f2- | cut -d- -f1 | rev )
        git switch master
        git pull --no-rebase
        sed -ie "s/\\(https:\\/\\/img\\.shields\\.io\\/badge\\/esphomejob-\\)[^-]*-[^\\?]*/\\1esphome%20\\(running\\.\\.\\.\\)-lightgrey/" README.md
        sed -ie "s/\\(https:\\/\\/img\\.shields\\.io\\/badge\\/esphome-\\)[^-]*-[^\\?]*/\\1${version}-lightgrey/" README.md
        git add README.md
        git commit -m "[CI]Update esphome status" || true
        git pull --no-rebase
        git push --force-with-lease
    
  esphome:
    if: github.event_name == 'pull_request' || github.ref == 'refs/heads/master'
    uses: xavierforestier/HomeAssistantRepository/.github/workflows/esphome.yml@master
    needs: esphome_init
    secrets: inherit
   
  zigbee2mqtt_init:
    if: github.event_name == 'pull_request' || github.ref == 'refs/heads/master'
    needs: esphome_init
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: |
        git config --local user.name "xavier.forestier"
        git config --local user.email "{ID}+{username}@users.noreply.github.com"
        git fetch
        version=$( echo $( find ./app-misc/zigbee2mqtt -type f -name "*.ebuild" | sort -r | head -n1 ) | rev | cut -d/ -f1 | cut -d. -f2- | cut -d- -f1 | rev )
        git switch master
        git pull --no-rebase
        sed -ie "s/\\(https:\\/\\/img\\.shields\\.io\\/badge\\/zigbee2mqttjob-\\)[^-]*-[^\\?]*/\\1zigbee2mqtt%20\\(running\\.\\.\\.\\)-lightgrey/" README.md
        sed -ie "s/\\(https:\\/\\/img\\.shields\\.io\\/badge\\/zigbee2mqtt-\\)[^-]*-[^\\?]*/\\1${version}-lightgrey/" README.md
        git add README.md
        git commit -m "[CI]Update zigbee2mqtt status" || true
        git pull --no-rebase
        git push --force-with-lease
            
  zigbee2mqtt:
    if: github.event_name == 'pull_request' || github.ref == 'refs/heads/master'
    uses: xavierforestier/HomeAssistantRepository/.github/workflows/zigbee2mqtt.yml@master
    needs: zigbee2mqtt_init
    secrets: inherit

  homeassistant_init:
    if: github.event_name == 'pull_request' || github.ref == 'refs/heads/master'
    needs: zigbee2mqtt_init
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: |
        git config --local user.name "xavier.forestier"
        git config --local user.email "{ID}+{username}@users.noreply.github.com"
        git fetch
        version=$( echo $( find ./app-misc/homeassistant -type f -name "*.ebuild" | sort -r | head -n1 ) | rev | cut -d/ -f1 | cut -d. -f2- | cut -d- -f1 | rev )
        git switch master
        git pull --no-rebase
        sed -ie "s/\\(https:\\/\\/img\\.shields\\.io\\/badge\\/homeassistant_minimal-\\)[^-]*-[^\\?]*/\\1homeassistant\\[minimal\\]%20\\(running\\.\\.\\.\\)-lightgrey/" README.md
        sed -ie "s/\\(https:\\/\\/img\\.shields\\.io\\/badge\\/homeassistant_normal-\\)[^-]*-[^\\?]*/\\1homeassistant\\[normal\\]%20\\(running\\.\\.\\.\\)-lightgrey/" README.md
        sed -ie "s/\\(https:\\/\\/img\\.shields\\.io\\/badge\\/homeassistant_full-\\)[^-]*-[^\\?]*/\\1homeassistant\\[full\\]%20\\(running\\.\\.\\.\\)-lightgrey/" README.md
        sed -ie "s/\\(https:\\/\\/img\\.shields\\.io\\/badge\\/homeassistant-\\)[^-]*-[^\\?]*/\\1${version}-lightgrey/" README.md
        git add README.md
        git commit -m "[CI]Update homeassistant status" || true
        git pull --no-rebase
        git push --force-with-lease
    
  homeassistant:
    if: github.event_name == 'pull_request' || github.ref == 'refs/heads/master'
    uses: xavierforestier/HomeAssistantRepository/.github/workflows/homeassistant.yml@master
    needs: homeassistant_init
    secrets: inherit
