name: Context testing
on: 
  workflow_dispatch:

jobs:
  dump_contexts_to_log:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"       
  zigbee-deps: 
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/xavierforestier/gentoo-ci:main
      options: --privileged
    steps:
    # synchronys my own git
    - uses: actions/checkout@v5
    # 
    - name: Setup HomeAssistant repository     
      run: |
        rsync -aHDPSv etc/portage/ /etc/portage/
        echo -n "location = " >> /etc/portage/repos.conf/homeassistant.conf
        pwd -P >> /etc/portage/repos.conf/homeassistant.conf
        git config --global --add safe.directory .
    - name: zigbee
      run: |
        emerge -pv --autounmask=y --autounmask-continue=y --autounmask-write=y --autounmask-license=y --autounmask-backtrack=y --autounmask-use=y --verbose-conflicts --deep --with-bdeps=y --newuse --autounmask-keep-masks=n --autounmask-keep-keywords=n --backtrack=300 app-misc/zigbee2mqtt 
  homeassistant-deps:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/xavierforestier/gentoo-ci:main
      options: --privileged
    steps:
    # synchronys my own git
    - uses: actions/checkout@v5
    # 
    - name: Setup HomeAssistant repository     
      run: |
        rsync -aHDPSv etc/portage/ /etc/portage/
        echo -n "location = " >> /etc/portage/repos.conf/homeassistant.conf
        pwd -P >> /etc/portage/repos.conf/homeassistant.conf
        git config --global --add safe.directory .        
    - name: minimal
      run: |
        echo "virtual/homeassistant minimal -normal -full" > /etc/portage/package.use/virtual-homeassistant.use
        emerge -pv --autounmask=y --autounmask-continue=y --autounmask-write=y --autounmask-license=y --autounmask-backtrack=y --autounmask-use=y --verbose-conflicts --deep --with-bdeps=y --newuse --autounmask-keep-masks=n --autounmask-keep-keywords=n --backtrack=300 virtual/homeassistant >/tmp/out 2>/tmp/err || true
        echo "::group::emerge stdout" 
        cat /tmp/out
        echo "::endgroup::"
        echo "::group::emerge stderr" 
        cat /tmp/err
        echo "::endgroup::"
        if ! grep -q "\[ebuild  N     \] virtual/homeassistant-0::HomeAssistantRepository  USE=\"minimal -full -normal\"" /tmp/out; then
          echo "::error::emerge virtual/homeassistant[minimal] failed"
          exit 1
        elif [ -s /tmp/err ]; then
          echo "::warning::emerge virtual/homeassistant[minimal] raised warning" 
        fi
    - name: normal
      run: |
        echo "virtual/homeassistant -minimal normal -full" > /etc/portage/package.use/virtual-homeassistant.use        
        emerge -pv --autounmask=y --autounmask-continue=y --autounmask-write=y --autounmask-license=y --autounmask-backtrack=y --autounmask-use=y --verbose-conflicts --deep --with-bdeps=y --newuse --autounmask-keep-masks=n --autounmask-keep-keywords=n --backtrack=300 virtual/homeassistant >/tmp/out 2>/tmp/err || true
        echo "::group::emerge stdout" 
        cat /tmp/out
        echo "::endgroup::"
        echo "::group::emerge stderr" 
        cat /tmp/err
        echo "::endgroup::"
        if ! grep -q "\[ebuild  N     \] virtual/homeassistant-0::HomeAssistantRepository  USE=\"normal -full -minimal\"" /tmp/out; then
          echo "::error::emerge virtual/homeassistant[normal] failed"
          exit 1
        elif [ -s /tmp/err ]; then
          echo "::warning::emerge virtual/homeassistant[normal] raised warning" 
        fi
    - name: full
      run: |
        echo "virtual/homeassistant -minimal -normal full" > /etc/portage/package.use/virtual-homeassistant.use
        emerge -pv --autounmask=y --autounmask-continue=y --autounmask-write=y --autounmask-license=y --autounmask-backtrack=y --autounmask-use=y --verbose-conflicts --deep --with-bdeps=y --newuse --autounmask-keep-masks=n --autounmask-keep-keywords=n --backtrack=300 virtual/homeassistant >/tmp/out 2>/tmp/err || true
        echo "::group::emerge stdout" 
        cat /tmp/out
        echo "::endgroup::"
        echo "::group::emerge stderr" 
        cat /tmp/err
        echo "::endgroup::"
        if grep -q "\[ebuild  N     \] virtual/homeassistant-0::HomeAssistantRepository  USE=\"full -minimal -normal\"" /tmp/out; then
          echo "::error::emerge virtual/homeassistant[full] failed"
          exit 1
        elif [ -s /tmp/err ]; then
          echo "::warning::emerge virtual/homeassistant[full] raised warning" 
        fi
